<DOCTYPE html>
<html>
<head>
		<title>rpsls</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>	
<body>
	<div class='choices'>
		<h1>rock paper scissors lizard spock</h1>
		<div id="images">
			<img src="/images/rock.png" data-pick="rock" ></img>
			<img src="/images/paper.png" data-pick="paper"></img>
			<img src="/images/scissors.png" data-pick="scissors"></img>
			<img src="/images/lizard.png" data-pick="lizard"></img>
			<img src="/images/spock.png" data-pick="spock"></img>
		</div>
	</div>
	<div id="video">
		<iframe width="320" height="240" src="//www.youtube.com/embed/iapcKVn7DdY" frameborder="0" allowfullscreen></iframe>
	</div>
	<ul id="results"></ul>


	<script src="javascript/lib/game.js"></script>
	<script src="javascript/lib/player.js"></script>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

	<script>

		$(document).ready(function() {
			var player1 = new Player('Human');
			var player2 = new Player('Computer');
			var game = new Game(player1, player2);

			$('.choices img').on('click', function() {
				player1.picks($(this).data('pick'));
				player2.picks(player2.randomPick());

				var latestResult = $('<li>' + game.winningMessage() + '</li>');
					latestResult.prependTo('#results').slideDown();

				$('#results li:nth-child(5)').fadeOut(function(){
					$(this).remove();
				})
			});
		})
	</script>	
</body>	
</html>