body {
	background-color: CBCBD1;
	font-family: Helvetica, Arial, Sans-serif;
}

.choices {
	text-align: center;
}

.choices img {
opacity: 0.5;
}

.choices img:hover {
opacity: 1;
transition: 0.25s;
}

#paper_spock img {
margin: -20px 60px 15px 60px;
}

#lizard_scissors img {
	margin: 0px 15px 25px 15px;
}

ul {
	list-style: none;
	text-align: center;
}