body {
	background-color: white;
	font-family: Helvetica, Arial, Sans-serif;
}

.choices {
	text-align: center;
}

.choices img {
opacity: 0.5;
}

.choices img:hover {
opacity: 1;
transition: 0.25s;
}

#paper_spock img {
margin: -20px 60px 15px 60px;
}

#lizard_scissors img {
	margin: 0px 15px 25px 15px;
}

#results {
	list-style: none;
}

	#results li {
		background: #999;
		color: #fff;
		font-size: 24px;
		border-radius: 4px;
		padding: 5px;
		width: 80%;
		margin-bottom: 10px;
		box-shadow: 0 0 5px rgba(0,0,0,0.4);
		display: none;
	}