body {
	background-color: white;
	font-family: Helvetica, Arial, Sans-serif;
}

#video {
	margin: auto;
	width: 400px;
}

.choices {
	text-align: center;
}

.choices img {
opacity: 0.5;
top: 20%;
margin-right: 10px;
}

.choices img:hover {
opacity: 1;
transition: 0.25s;
}

#results {
	list-style: none;
	width: 60%;
	margin: auto;
}

	#results li {
		background: #999;
		color: #fff;
		font-size: 24px;
		border-radius: 4px;
		padding: 5px;
		margin-top: 10px;
		margin-bottom: 10px;
		box-shadow: 0 0 5px rgba(0,0,0,0.4);
		display: none;
		width: 90%;
	}